body{background-color: blanchedalmond;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;}
span{background-color: blueviolet;}
p style{font-size: xx-large;}
